.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;

    padding: 0px 10px;
    margin: 10px 0px;
    background: linear-gradient(90deg, #F66235, #F4382E);
    box-shadow: var(--card-shadow);
    border-radius: var(--border-radius);

    @media (min-width: 760px) {
        flex-direction: row;
        height: 250px;
        gap: 20px;
        padding: 50px;
        margin: 50px 0px;
    }    
}

.card-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;

    & h2 {
        padding: 20px 0px;
    }

    & p {
        border-top: white 5px solid;
        padding: 10px 0px;
    }

    @media (min-width: 760px) {
        & h2 {
            padding: 20px 0px;
        }
    
        & p {
            border-top: white 5px solid;
            padding: 30px 0px;
        }
    } 
}


  
