/* CSS variables */
:root {
    --card-grid-border: black 5px solid;
    --border-radius: 5px;
}

/* Light and Dark modes */
@media (prefers-color-scheme: dark) {
    body {
        --background-color: #121212;
        --color: #fffffff7;
        --card-grid-border: var(--color) 5px solid;
        --card-shadow: 6px 6px 0px rgb(255, 255, 255);
    }
}

@media (prefers-color-scheme: light) {
    body {
        --background-color: #fffffff7;
        --color: black;
        --card-shadow: 2px 2px 5px rgba(30, 30, 30, 0.5);
    }
}